body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #DDE6ED; */
    font-size: larger;
    background-image: url("../media/background.jpg");
}
legend {
    color: white;
    text-shadow: 1px 1px 2px rgb(158, 33, 197), 0 0 1em blue, 0 0 0.2em blue;
}
fieldset {
    margin: 3em auto;
    border-color: #9db2bf;
    background-color: #9DB2BF;
    width: 50vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

#fieldset-playlists {
    min-height: 80vh;
}

#newSongForm {
    display: none;
    flex-direction: column;
}

h2 {
    text-align: center;
}

button,
input[type="submit"] {

    width: 15vw;
    font-size: 1.2em;
    border-radius: 1em;
    line-height: 1.4em;
}

input[type="text"],
input[type="password"] {
    height: 2em;
}

label {
    font-size: 1.2em;

}

#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    justify-content: space-between;
    margin: 0 auto;

}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 2em auto;
}

input {
    margin-bottom: 1.5em;
}

ul {
    width: -webkit-fill-available;
}

li {
    border-bottom: 1px solid #526D82;
    list-style: none;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.small-button{
    width: 10vw;
    font-size: 0.8em;
    border-radius: 1em;
    line-height: 1em;
    left: 40%;
}
#text{
    width: 30%;
}